<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/index.css" class="css" />

</head>
  <!-- Fin Head -->

  <body>

    <%- include('partials/navbar') %> 
 
    
    <h1>Comment and rank</h1>
    <form action="/comments/<%= order.id %> " method="POST">
    <div class="container">
        <label for="content">Comment Here</label>
        <textarea class="form-control" id="content" name="content" rows="3"></textarea>
     </div>
     <div class=" my-1 container">
        <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Ranking</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="ranking">
          <option selected>Choose...</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
   
    <div class="container">
  
      <br>

      <button type="submit">
        Done
      </button>
    
  </form>
    



    <%- include('partials/footer') %> 
    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>




