<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/index.css" class="css" />

</head>
  <!-- Fin Head -->

  <body>


    <%- include('partials/navbar') %> 

    <h1>Detail</h1>

    <div class="container card mb-3 shadow-lg">
      <img src="/images/<%= application.image_url %> " class="card-img-top">
      <div class="card-body">
        <h5 class="card-title"><%= application.name %></h5>
        <p class="card-text"><%= application.description %> </p>
        <p class="card-text"><small class="text-muted">$<%= application.price %> </small></p>
        <p class="card-text">Category: <small class="text-muted"><%= application.category.name %>  </small></p>
     
        <a href="/apps/edit/<%= application.id %> ">
        <button>Edit</button></a>


        <form action="/orders/add/<%= application.id %>" method="POST">
          <button type="submit">Add to orders</button>
        </form>
        <form action="/apps/delete/<%= application.id %> " method="POST">
        <button type="submit">Delete</button>
        </form>
     
      </div>
    </div>
    

    

    

    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>