<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>
  <link rel="stylesheet" href="/stylesheets/detail.css" class="css" />

</head>
  <!-- Fin Head -->

  <body>


    <%- include('partials/navbar') %> 

    <h1 class="text-center">Detail</h1>

    <div class="container card mb-3 shadow-lg" style="width: 50rem;">
      <img src="/images/<%= application.image_url %> " class="card-img-top mt-3">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <p>Name</p>
          <li class="list-group-item"><%= application.name %></li>
          <p>Price</p>
          <li class="list-group-item"><%= application.price %></li>
          <p>Description</p>
          <li class="list-group-item"><%= application.description %> </li>
          <p>Category</p>
          <li class="list-group-item"><%= application.category.name %> </li>
         
        </ul>
     
        <a href="/apps/edit/<%= application.id %> ">
        <button class="btn btn-warning my-2">Edit</button></a>


        <form action="/orders/add/<%= application.id %>" method="POST">
          <button class="btn btn-success my-2" type="submit">Add to orders</button>
        </form>
        <form action="/apps/delete/<%= application.id %> " method="POST">
        <button class="btn btn-danger my-2" type="submit">Delete</button>
        </form>
     
      </div>
    </div>
    

    

    

    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>