<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>
  <!-- Fin Head -->

  <body>
    

    <h1><%= application.name %> </h1>
    
    <ul>
      <li>
          Image: <img src="<%= application.image_url %> " alt="">

      </li>
      <li>
          Description: <%= application.description %> 
          
      </li>
      <li>
          Price: <%= application.price %> 
          
      </li>
      <li>
          Category: <%= application.category.name %> 
          
      </li>
      <li>
          User: <%= application.user.id %> 
          
      </li>
    </ul>

      




    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>