<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>
  <!-- Fin Head -->

  <body>
    

    <h1><%= applications.name %> </h1>
    
    <ul>
      <li>
          Image: <%= applications.image_url %> 

      </li>
      <li>
          Description: <%= applications.description %> 
          
      </li>
      <li>
          Price: <%= applications.price %> 
          
      </li>
      <li>
          Category: <%= applications.category.name %> 
          
      </li>
      <li>
          User: <%= applications.user.id %> 
          
      </li>
    </ul>

      




    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>