<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head', {title: title}); %>
<!-- Fin Head -->

<body>
  <div class="container-fluid mp0">
    <nav class="navbar navbar-dark bg-dark mp0">




      <div class="row col-3 mp0">
        <a class="navbar-brand" href="#">App Side
        </a>
      </div>

      <div class="row col-7 mp0">
        <form class="form-inline">
          <input class="search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn-search btn btn-outline-warning my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </div>

      <div>
      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        </i><button type="button" class="btn-access btn btn-danger"><i class="fas fa-power-off"></i></button>
      </a>
    </nav>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div class="access">
          <a href="/register">Register</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
    </div>

  </div>

  <div class="d-flex container-fluid">

  <div class="nav-lat row">
    
    <div class="col-3">
      <div class="nav flex-column nav-pills sticky-top" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
          aria-controls="v-pills-home" aria-selected="true">Home</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
          aria-controls="v-pills-profile" aria-selected="false">Profile</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
          aria-controls="v-pills-messages" aria-selected="false">Messages</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
          aria-controls="v-pills-settings" aria-selected="false">Settings</a>
      </div>
    </div>
    <div class="col-9">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
          ...</div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...
        </div>
      </div>
    </div>
  </div>


  <div class="apps container-fluid">


    <div class="cards-group shadow-lg p-3 mb-5 bg-white rounded">
      <h1>Apps</h1>
      <%- include('partials/cards',) %>
    </div>

    
    <div class="cards-group shadow-lg p-3 mb-5 bg-white rounded">
      <h1>List</h1>
      <%- include('partials/cards') %>
    </div>

    <div class="cards-group shadow-lg p-3 mb-5 bg-white rounded">
      <h1>App</h1>
      <%- include('partials/cards') %>
    </div>

    

  </div>
</div>

  





 


  <!--Scripts-->
  <%- include('partials/scripts') %>
  <!--Fin Scripts-->
</body>

</html>