<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head'); %>
<link rel="stylesheet" href="/stylesheets/index.css" class="css" />

</head>
<!-- Fin Head -->

<body>

  <!-- Nav Bar -->
  
  <%- include('partials/navbar') %> 


  <!-- Nav Lateral -->

  <div class="d-flex container-fluid">

    <div class="nav-lat row">
      <nav class="nav flex-column">
        <a class="nav-link" href="/apps/create">New App</a>
        <a class="nav-link" href="/apps">Apps</a>
        <a class="nav-link" href="/users">Users</a>
      </nav>

    </div>
      <!-- App -->

    <div class="apps container-fluid">


      

      <div class="cards-group shadow-lg p-3 mb-5 bg-white rounded ">
        <h1>Apps</h1>
        <%- include('partials/cardsApps') %>
      </div>


      <div class="cards-group shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Categories</h1>
        <%- include('partials/cardsApps') %>
      </div>

      
      <div class="cards-group shadow-lg p-3 mb-5 bg-white rounded">
        <h1>Best Rank</h1>
        <%- include('partials/cardsApps') %>
      </div>



    </div>
  </div>


  <!-- Footer -->

  <%- include('partials/footer') %>






  <!--Scripts-->
  <%- include('partials/scripts') %>
  
</body>

</html>