<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head'); %>
<link rel="stylesheet" href="/stylesheets/index.css" class="css" />

<!-- Fin Head -->

<body class="text-center " >


  <%- include('partials/navbar') %>
  <% if (typeof errors != 'undefined') { %>

  <p style="color: red"> ERROR</p>
  <ul>
    <% for (let i = 0; i < errors.length; i++){ %>
    <li>
      <%=errors[i].msg%>
    </li>

    <% } %>
  </ul>

  <% } %>
 

    <div class="container" style="width: 18rem;">
  <form action="/login" method="POST" class="form-signin" >
    <a href="/">
      <h1>App Side</h1>
    </a>
    <p class="h3 mb-3 font-weight-normal">Please sign in</p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required=""
      autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me" name="remember"> Remember me
      </label>
    </div>
    <button class="mt-4 btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div>








  <%- include('partials/footer') %>


  <!--Scripts-->
  <%- include('partials/scripts') %>
  <!--Fin Scripts-->
</body>

</html>