<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>
  <!-- Fin Head -->

  <body>
    

    <%- include('partials/navbar') %> 
    <% if (typeof errors != 'undefined') { %>

      <p style="color: red"> ERROR</p>
          <ul>
        <% for (let i = 0; i < errors.length; i++){ %>
          <li>
            <%=errors[i].msg%>
          </li>
    
            <% } %>
          </ul>
     
        <% } %>
          <div class="text-center container">
        <form  action="/login" method="POST"class="form-signin col-4">
         <a href="/"><h1>App Side</h1></a>
          <p class="h3 mb-3 font-weight-normal">Please sign in</p>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

      </div>







      <%- include('partials/footer') %>


    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>
