<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/stylesheets/index.css" class="css" />

</head>
  <!-- Fin Head -->

  <body>

    <%- include('partials/navbar') %> 
    
    

  <div class="text-center">



    <form action="/apps/create" method="POST" class="form-signin container card shadow-lg my-4 py-3" style="width: 30rem">
      
        <h1>New App</h1>
      
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name">
        </div>

        <div class="form-group">
          <label for="name">Price</label>
          <input type="number" class="form-control" name="price">
        </div>

        <div class="form-group" >
          <label for="category">Category</label>
          <select multiple class="form-control" name="category_id" id="exampleFormControlSelect2">
            <% for (let i = 0; i < categories.length; i++){ %>
            <option value="<%=categories[i].id%>">
              <%=categories[i].name%>
            </option>
            <% } %>
          </select>
        </div>


     
        <div class="form-group" >
          <label for="description">Description</label>
          <textarea class="form-control" name="description" rows="3"></textarea>


        </div>
      <button class="mt-4 btn btn-lg btn-success btn-block" type="submit">Load Image >></button>
    </form>

  </div>






    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>




