<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('partials/head'); %>

</head>
  <!-- Fin Head -->

  <body>
    

    <%- include('partials/navbar') %> 

    <h1>Users List</h1>
    

    <ul>
        <% for (let i = 0; i < users.length; i++) {%>
        <li>
          <a href="/apps/detail/<%= users[i].id %> ">
          <%= users[i].email %> 
        </a>
        </li>
        <% } %> 
    </ul>




    <!--Scripts-->
    <%- include('partials/scripts') %>
    <!--Fin Scripts-->
  </body>
</html>